.links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}

.logout{
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}




.menuImg,.menuButton,.mobileLinks{
    display: none;
}


@media(max-width:768px){
    .links{
        display: none;
    }
    .menuButton{
        display: block;
        cursor: pointer;
    }
    .menuImg{
        display: block;
        filter: brightness(0) invert(1);
    }
    .mobileLinks{
        /* background-color: var(--bg); */
        background: linear-gradient(to top, black, rgba(255, 255, 255, 0));
        backdrop-filter: blur(1.5px);
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }
    
}