.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
}

.imgContainer{
    width: 90%;
    height: calc(100%-20px);
    position: relative;
}

.img{
    object-fit: contain;
}

.title{
    width: 90%;
    font-size: 29px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.desc{
    width: 90%;
    margin-bottom: 20px;
    font-weight: 300;
    color: #fde5bf;
    padding-top: 20px;
}

.link{
    text-decoration: underline;
}